<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Yash Agrawal</title>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/Script.js"></script>
    <link href="Scripts/Styles.css" rel="stylesheet" />
    <style>
        body {
            background-image: url('images/back.jpg');
            background-size: 100% 100%;
            background-attachment: fixed;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <div>
        <h1>
            Welcome to My Webpage
            <!--<img src="Images/iitb.png" alt="IITB logo" style="float:left;width:90px;height:90px;" />-->
        </h1>
        <h2>
            <marquee scrollamount="10" loop="infinite">Under Construction</marquee>
        </h2>
    </div>

    <div>
        <h3>
            Tell me about yourself:
            <img src="Images/me.jpg" alt="Me" width="300" height="300" style="float:right;border:solid" />
        </h3>

        Your Name:
        <input type="password" ng-model="name">
        <b> &nbsp;&nbsp; Hello {{ name }} !</b>

        <br />

        <form name="myForm">
            Your email id:
            <input type="email" name="myAddress" ng-model="text">
            <span ng-show="myForm.myAddress.$error.email">Not a valid e-mail address</span>
        </form>

        Your favourite color:
        <input style="background-color:{{myCol}}" ng-model="myCol">
        Mine's violet, also because it matched the background ;)
        <br />

        <h3>Now about me:</h3>
        <p style="margin-bottom:-20px">Hobbies:</p>
        <ul>
            <li ng-repeat="i in hobbies">
                {{ i }}
            </li>
        </ul>
    </div>

    <div class="footer" ng-init="Name='Yash Agrawal';id='yash040599@gmail.com'">
        Maintained by: <span ng-bind="Name"></span>
        <br />
        Contact information:
        <a href="https://www.facebook.com/profile.php?id=100006299344682">
            <img src="Images/fb.png" alt="Fb" width="16" height="16" />
        </a>
        |
        <a href="https://www.linkedin.com/in/yash-agrawal-568a5014b/">
            <img src="Images/li.png" alt="Fb" width="16" height="16" />
        </a>
        |
        <span ng-bind="id"></span>
    </div>
</body>
</html>
