body {
    font-family: 'Times New Roman';
    color: antiquewhite;
    font-size: larger;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: mediumpurple;
    color: white;
    text-align: center;
    font-size: 20px;
}
